parameters:
	courses:
		auraprednaska:
			course: 'Aura - přednáška'
			lector: 'Evžen Paulíček'
			price: 200
			dates:
				-
					date: '16.1.2015 18:30'
					end: '21:00'
		aura:
			course: 'Fotografování aury'
			lector: 'Sylvie a Evžen Paulíčkovi'
			gallery: 'aura'
			price: 990
			dates:
				-
					date: '7.4.2017 9:00'
					end: '17:00'
				-
					date: '26.5.2017 9:00'
					end: '17:00'
				-
					date: '15.9.2017 9:00'
					end: '17:00'
				-
					date: '20.10.2017 9:00'
					end: '17:00'
				-
					date: '24.11.2017 9:00'
					end: '17:00'
		numerologie:
			course: 'Numerologický rozbor'
			lector: 'Jaroslava Žaludová'
			price: '800/1000'
			dates:
				-
					date: '4.5.2016 9:00'
					end: '17:00'
		ordinace:
			course: 'Na co není v ordinaci čas, aneb jak si poradit bez lékaře - přednáška'
			lector: 'MUDr. Helena Bartůšková'
			price: 200
			dates:
				-
					date: '10.9.2015 18:30'
					end: '20:30'
		zivotosprava:
			course: 'Životospráva aneb cesta ke zdraví - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '9.10.2015 18:30'
					end: '21:00'
		vnitrnicesta2:
			course: 'Sdílení vnitřní cesty - meditační setkání s Katkou'
			lector: 'Katka Špačková'
			price: 100
			dates:
				-
					date: '1.11.2016 18:00'
					end: '19:30'
		holub2:
			course: 'Zajímavá mozaika souvislostí - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '3.3.2017 18:30'
					end: '21:00'
		holub3:
			course: 'Mozaika souvislostí - element dřevo - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '31.3.2017 18:30'
					end: '21:00'
		relaxaceGongem:
			course: 'Relaxace s gongem'
			lector: 'Dana Šitnerová'
			price: 400
			gallery: 'gong'
			dates:
				-
					date: '26.5.2017 18:30'
					end: '20:00'
				-
					date: '16.6.2017 18:30'
					end: '20:00'
				-
					date: '15.9.2017 18:30'
					end: '20:00'
				-
					date: '27.10.2017 18:30'
					end: '20:00'
				-
					date: '24.11.2017 18:30'
					end: '20:00'
		realita:
			course: 'Tvoříme si vlastní realitu - volný cyklus přednášek'
			lector: 'Kateřina Krčmová'
			price: '250'
			mail: "osobne@katerinakrcmova.cz"
			phone: "+420 722 113 791"
			register: FALSE
			dates:
				-
					date: '19.9.2017 19:00'
					end: '21:00'
				-
					date: '10.10.2017 19:00'
					end: '21:00'
				-
					date: '14.11.2017 19:00'
					end: '21:00'
				-
					date: '12.12.2017 19:00'
					end: '21:00'
		dilna:
			course: 'Dílna na téma masáž zvukem tibetských mís'
			lector: 'František Horváth'
			price: 550
			dates:
				-
					date: '15.10.2017 14:00'
					end: '17:00'
		tibetskemisy:
			course: 'Koncert tibetských zpívajících mís v Praze'
			lector: 'František Horváth'
			price: 300
			dates:
				-
					date: '20.10.2017 18:30'
					end: '20:30'
				-
					date: '8.12.2017 18:30'
					end: '20:30'
		vnitrnicesta3:
			course: 'Sdílení vnitřní cesty - setkání s Katkou'
			lector: 'Katka Špačková'
			price: 100
			dates:
				-
					date: '27.9.2016 18:00'
					end: '19:30'
		detisoucasnosti:
			course: 'Děti současnosti - přednáška'
			lector: 'Věra Klucká'
			price: 200
			dates:
				-
					date: '5.2.2016 18:00'
					end: '20:00'
		oslavazenstvi:
			course: 'Oslava ženství - jóga, tanec, meditace, EFT'
			lector: 'Klára Stejskalová, Dana Junková, Petra Simeona Wágnerová'
			price: 1500
			dates:
				-
					date: '14.2.2016 10:00'
					end: '18:00'
		ockovani:
			course: 'Očkování z pohledu pediatra - homeopata - přednáška'
			lector: 'MUDr. Helena Bartůšková'
			price: 150
			dates:
				-
					date: '10.2.2016 18:30'
					end: '20:00'
		holub1:
			course: 'Celostní pohled na pohybový systém a psychosomatiku - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '14.10.2016 18:30'
					end: '21:00'
		Biodynamika:
			course: 'Biodynamické masáže - přednáška'
			lector: 'Bc. Alexandra Klozová'
			price: 150
			dates:
				-
					date: '21.9.2016 18:30'
					end: '20:00'
		velikonoce:
			course: 'Oslava Velikonoc - setkání s Katkou'
			lector: 'Katka Špačková'
			price: 100
			dates:
				-
					date: '22.3.2016 18:00'
					end: '19:30'
		detidetem:
			course: 'Děti dětem, aneb jemné pohlazení – přednáška s terapeutickou ukázkou'
			lector: 'Lucie Pospíšilová'
			price: 100
			dates:
				-
					date: '8.4.2016 18:30'
					end: '20:00'
		holistika:
			course: 'Základní principy holistické medicíny - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '15.4.2016 18:30'
					end: '20:00'
		karma:
			course: 'Karmické vztahy - přednáška'
			lector: 'Věra Klucká'
			price: 200
			dates:
				-
					date: '6.5.2016 18:00'
					end: '20:00'
		vnitrnicesta:
			course: 'Letnice – sdílení vnitřní cesty - setkání s Katkou'
			lector: 'Katka Špačková'
			price: 100
			dates:
				-
					date: '13.5.2016 18:00'
					end: '19:30'
		zenskaLinie:
			course: 'Matka a ženská linie - seminář'
			lector: 'Věra Klucká'
			price: 400
			dates:
				-
					date: '20.5.2016 17:00'
					end: '21:00'
		muzskaLinie:
			course: 'Otec a mužská linie - seminář'
			lector: 'Věra Klucká'
			price: 400
			dates:
				-
					date: '17.6.2016 17:00'
					end: '21:00'
		psychosomatika:
			course: 'Bolesti v hybném systému a jejich psychosomatické souvislosti - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '3.10.2014 18:30'
					end: '21:00'
		teloduse:
			course: 'Hranice mezi tělem a duší - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 150
			dates:
				-
					date: '16.5.2014 19:00'
					end: '21:00'
		psychomedicina:
			course: 'Psychosomatická medicína - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '14.11.2014 18:30'
					end: '21:00'
		stravovani:
			course: 'Celostní cesta ke správnému stravování - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '10.4.2015 18:30'
					end: '21:00'
		cesty:
			course: 'Cesty - setkání poutníků'
			lector: 'MUDr. Soňa Hájková a Břetislav Čtvrtek'
			price: 150
			dates:
				-
					date: '24.9.2014 18:30'
					end: '21:00'
		imunita:
			course: 'Vliv stravování na imunitu a celkovou pohodu našeho organismu - přednáška'
			lector: 'Petra Pokorová, DiS a Mgr. Věra Stádníková'
			price: 200
			dates:
				-
					date: '1.1.2015 18:30'
					end: '21:00'
		mineraly:
			course: 'Setkání s minerály a polodrahokamy'
			lector: 'Yvett Holá – Amalakí'
			price: 200
			dates:
				-
					date: '1.10.2014 10:00'
					end: '13:00'
		diagnostika:
			course: 'Diagnostika z tváře a tělesné konstituce'
			lector: 'Yvett Holá'
			price: 100
			dates:
				-
					date: '5.4.2014 10:00'
					end: '13:00'
		analyza:
			course: 'Frekvenční analýza patogenních mikroorganismů v těle - měření'
			lector: 'Petra a Michal Wágnerovi'
			price: 600
			dates:
				-
					date: '14.4.2014 09:00'
					end: '18:00'
				-
					date: '18.4.2014 09:00'
					end: '18:00'
		nikken:
			course: 'NIKKEN - přednáška'
			lector: 'Barbora Westerman'
			price: 50
			dates:
				-
					date: '22.4.2014 18:30'
					end: '20:00'
		lymfa:
			course: 'Lymfatický systém a jeho význam - přednáška'
			lector: 'Yvett Holá'
			price: 100
			dates:
				-
					date: '26.4.2014 10:00'
					end: '12:00'
		lunarniSystem:
			course: 'Čínský lunární systém a tajemství pěti elementů Matky Země - přednáška'
			lector: 'Yvett Holá'
			price: 200
			dates:
				-
					date: '31.5.2014 10:00'
					end: '13:00'
		qigong:
			course: 'Qigong (čchi-kung), aneb cvičení pro tělo i duši - přednáška'
			lector: 'Bc. Petr Kochlík'
			price: 200
			dates:
				-
					date: '30.1.2015 18:30'
					end: '21:00'
		esence:
			course: 'Bachovy květové esence - setkání'
			lector: 'MUDr. Klára Zelenayová'
			price: 108
			dates:
				-
					date: '20.3.2015 18:30'
					end: '21:00'
		diety:
			course: 'Hubneme s rozumem aneb diety pod drobnohledem - přednáška'
			lector: 'Petra Pokorová, DiS.'
			price: 200
			dates:
				-
					date: '20.3.2015 18:30'
					end: '21:00'
		prekyseleni:
			course: 'Lze ovlivnit překyselení organismu stravou? - přednáška'
			lector: 'Petra Pokorová, DiS.'
			price: 200
			dates:
				-
					date: '5.6.2015 18:30'
					end: '20:00'
		konstelace:
			course: 'Rodinné konstelace s Věrou'
			lector: 'Věra Horáková'
			price: 300
			dates:
				-
					date: '18.4.2015 10:00'
					end: '16:00'
		harmonieVztahu:
			course: 'Cesta k harmonii vztahů - setkání s Katkou'
			lector: 'Katka Špačková'
			price: 100
			dates:
				-
					date: '21.6.2016 18:00'
					end: '19:30'
		zamer:
			course: 'ZÁMĚR na rok 2018 – seminář s paní Věrou Kluckou'
			lector: 'Věra Klucká'
			price: 450
			dates:
				-
					date: '1.12.2017 17:00'
					end: '20:00'
		oslavavanoc:
			course: 'Oslava příchodu Vánoc - setkání a meditace přátel a příznivců Spolu na cestě'
			lector: 'Katka Špačková a Lucie Pospíšilová'
			price: 150
			dates:
				-
					date: '20.12.2016 18:00'
					end: '20:00'
		deti:
			course: 'Světelné, indigové, křišťálové, diamantové  DĚTI - přednáška'
			lector: 'Věra Klucká'
			price: 300
			dates:
				-
					date: '8.9.2017 17:30'
					end: '19:30'
		meditacnivecer:
			course: 'Hudebně-meditační večer - večerní setkání s hudbou ne tak úplně běžnou'
			lector: 'Jana a Dan Čadovi'
			price: 250
			dates:
				-
					date: '2.2.2017 18:00'
					end: '20:00'
		zakonkarmy:
			course: 'Zákon karmy - seminář'
			lector: 'Věra Klucká'
			price: 450
			dates:
				-
					date: '10.3.2017 17:00'
					end: '20:00'
		masky:
			course: 'Masky - seminář'
			lector: 'Věra Klucká'
			price: 400
			dates:
				-
					date: '28.4.2017 17:00'
					end: '20:00'
		holub4:
			course: 'Mozaika souvislostí - element oheň - přednáška'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '6.10.2017 18:30'
					end: '21:00'
		biorytmy:
			course: 'Biorytmy v našem životě'
			lector: 'MUDr. Miroslav Holub'
			price: 200
			dates:
				-
					date: '3.11.2017 18:30'
					end: '21:00'
