parameters:
	therapist:
		ctvrtek:
			name: 'Břetislav Čtvrtek'
			phone: '+420 601 350 474'
			mail: 'info@dumrukousvetla.cz'
			web: 'www.dumrukousvetla.cz/cesta'
		fantova:
			name: 'Ing. Martina Fantová'
			phone: '+420 601 350 474'
			mail: 'martinavel@seznam.cz'
		ocelikova:
			name: 'Zdeňka Ocelíková'
			phone: '+420 602 748 729'
			mail: 'zdenka.ocelikova@seznam.cz'
			web: 'www.kranio-sakralni-terapie.cz'
		klozova:
			name: 'Bc. Alexandra Klozová'
			phone: '+420 732 186 214'
			mail: 'alex.kloz@centrum.cz'
			web: 'www.telo-duse-energie.cz'
		prochazkova:
			name: 'Bc. Jitka Procházková'
			phone: '+420 777 666 755'
			mail: 'prochazkovajitka@post.cz'
		krcmova:
			name: 'Kateřina Krčmová'
			phone: '+420 722 113 791'
			mail: 'osobne@katerinakrcmova.cz'
			web: 'www.katerinakrcmova.cz/seminare'
		cechrakova:
			name: 'Jana Čechráková'
			phone: '+420 602 633 869'
			mail: 'terapeuteft@email.cz'
			web: 'www.terapeuteft.cz/terapie-eft'
		ullrichova:
			name: 'Jana Ullrichová, DiS.'
			phone: '+420 739 301 739'
			mail: 'j.ullrichova@seznam.cz'
			web: 'www.jemnydotek.cz'
		Arden:
			name: 'PhDr. Lukáš Arden'
			phone: '+420 603 813 594'
			mail: 'homeotouch@seznam.cz'
			web: 'www.homeotouch.cz'
		zelenayova:
			name: 'MUDr. Klára Zelenayová'
			phone: '+420 705 219 914'
			mail: 'zelenayka@seznam.cz'
