parameters:
	therapist:
		ctvrtek:
			name: 'Břetislav Čtvrtek'
			phone: '+420 601 350 474'
			mail: 'info@dumrukousvetla.cz'
			web: 'www.dumrukousvetla.cz/cesta'
		fantova:
			name: 'Ing. Martina Fantová'
			phone: '+420 601 350 474'
			mail: 'martinavel@seznam.cz'
		ocelikova:
			name: 'Zdeňka Ocelíková'
			phone: '+420 602 748 729'
			mail: 'zdenka.ocelikova@seznam.cz'
			web: 'www.kranio-sakralni-terapie.cz'
		klozova:
			name: 'Bc. Alexandra Klozová'
			phone: '+420 732 186 214'
			mail: 'alex.kloz@centrum.cz'
			web: 'www.telo-duse-energie.cz'
		prochazkova:
			name: 'Bc. Jitka Procházková'
			phone: '+420 777 666 755'
			mail: 'prochazkovajitka@post.cz'
		adonai:
			name: 'Filip Adonai'
			phone: '+420 606 553 614'
			mail: 'my3@bytvsrdci.org'
			web: 'www.bytvsrdci.org'
		kyralova:
			name: 'Vendula Kyralová'
			phone: '+420 604 534 508'
			mail: 'zdravi.stesti@gmail.com'
			web: 'www.zdravi-stesti.cz'
		ullrichova:
			name: 'Jana Ullrichová, DiS.'
			phone: '+420 739 301 739'
			mail: 'j.ullrichova@seznam.cz'
			web: 'www.jemnydotek.cz'
		pankova:
			name: 'Ing. Lenka Pánková'
			phone: '+420 725 173 409'
			mail: 'lenka@pyrasova.cz'
			web: 'lenka.pyrasova.cz'
		zelenayova:
			name: 'MUDr. Klára Zelenayová'
			phone: '+420 705 219 914'
			mail: 'zelenayka@seznam.cz'
