{block title}Stránka nenalezena{/block}
{block robots}
<meta name="robots" content="noindex" />
{/block}

{block #content}
<h2>Stránka nenalezena</h2>
<p>
	Stránka kterou hledáte na serveru neexistuje.
	Stránka mohla být přesunuta nebo odstraněna.
	Vyberte si prosím z nabídky v záhlaví stránky.
</p>
<p>error 404</p>
{/block}